In [ ]:
import dask_geopandas as dgpd

gdf_protected = dgpd.read_parquet("data/protected_areas.parquet").compute()
gdf_landcover = dgpd.read_parquet("data/land_cover.parquet").compute()

In [1]:
import dask_geopandas as dgpd

gdf_flood_5 = dgpd.read_parquet("../01_processed_data/flood_risk/FloodRisk_5yr.parquet").compute()

In [5]:
gdf_flood_25 = dgpd.read_parquet("../01_processed_data/flood_risk/FloodRisk_25yr.parquet").compute()
gdf_flood_100 = dgpd.read_parquet("../01_processed_data/flood_risk/FloodRisk_100yr.parquet").compute()

In [4]:
gdf_flood_5.head()

,FloodRisk,geometry,Province,FloodReturnPeriod
0,1.0,"MULTIPOLYGON (((121.53323 17.26963, 121.5331 1...",Kalinga,5yr
1,2.0,"MULTIPOLYGON (((121.5307 17.26934, 121.5307 17...",Kalinga,5yr
2,3.0,"MULTIPOLYGON (((121.53295 17.2699, 121.53295 1...",Kalinga,5yr
3,1.0,"MULTIPOLYGON (((122.03266 13.3509, 122.03257 1...",Marinduque,5yr
4,2.0,"MULTIPOLYGON (((122.02979 13.35206, 122.0297 1...",Marinduque,5yr

In [ ]:
gdf_flood_5 = gdf_flood_5.to_crs(epsg=32651)
gdf_flood_25 = gdf_flood_25.to_crs(epsg=32651)
gdf_flood_100 = gdf_flood_100.to_crs(epsg=32651)

In [8]:
gdf_flood_5.to_parquet("../01_processed_data/flood_risk/FloodRisk_5yr_reprojected.parquet")
gdf_flood_25.to_parquet("../01_processed_data/flood_risk/FloodRisk_25yr_reprojected.parquet")
gdf_flood_100.to_parquet("../01_processed_data/flood_risk/FloodRisk_100yr_reprojected.parquet")

In [7]:
gdf_protected = gdf_protected.to_crs(epsg=32651)
gdf_landcover = gdf_landcover.to_crs(epsg=32651)

# Save the reprojected data
gdf_protected.to_parquet("data/protected_areas_reprojected.parquet")
gdf_landcover.to_parquet("data/land_cover_reprojected.parquet")

In [8]:
gdf_protected = dgpd.read_parquet("data/protected_areas_reprojected.parquet").compute()
gdf_landcover = dgpd.read_parquet("data/land_cover_reprojected.parquet").compute()

print(gdf_protected.crs)
print(gdf_landcover.crs)

{"$schema": "https://proj.org/schemas/v0.7/projjson.schema.json", "type": "ProjectedCRS", "name": "WGS 84 / UTM zone 51N", "base_crs": {"type": "GeographicCRS", "name": "WGS 84", "datum": {"type": "GeodeticReferenceFrame", "name": "World Geodetic System 1984", "ellipsoid": {"name": "WGS 84", "semi_major_axis": 6378137, "inverse_flattening": 298.257223563}}, "coordinate_system": {"subtype": "ellipsoidal", "axis": [{"name": "Geodetic latitude", "abbreviation": "Lat", "direction": "north", "unit": "degree"}, {"name": "Geodetic longitude", "abbreviation": "Lon", "direction": "east", "unit": "degree"}]}, "id": {"authority": "EPSG", "code": 4326}}, "conversion": {"name": "UTM zone 51N", "method": {"name": "Transverse Mercator", "id": {"authority": "EPSG", "code": 9807}}, "parameters": [{"name": "Latitude of natural origin", "value": 0, "unit": "degree", "id": {"authority": "EPSG", "code": 8801}}, {"name": "Longitude of natural origin", "value": 123, "unit": "degree", "id": {"authority": "EPSG", "code": 8802}}, {"name": "Scale factor at natural origin", "value": 0.9996, "unit": "unity", "id": {"authority": "EPSG", "code": 8805}}, {"name": "False easting", "value": 500000, "unit": "metre", "id": {"authority": "EPSG", "code": 8806}}, {"name": "False northing", "value": 0, "unit": "metre", "id": {"authority": "EPSG", "code": 8807}}]}, "coordinate_system": {"subtype": "Cartesian", "axis": [{"name": "Easting", "abbreviation": "E", "direction": "east", "unit": "metre"}, {"name": "Northing", "abbreviation": "N", "direction": "north", "unit": "metre"}]}, "scope": "Navigation and medium accuracy spatial referencing.", "area": "Between 120\u00b0E and 126\u00b0E, northern hemisphere between equator and 84\u00b0N, onshore and offshore. China. Indonesia. Japan. North Korea. Philippines. Russian Federation. South Korea. Taiwan.", "bbox": {"south_latitude": 0, "west_longitude": 120, "north_latitude": 84, "east_longitude": 126}, "id": {"authority": "EPSG", "code": 32651}}
{"$schema": "https://proj.org/schemas/v0.7/projjson.schema.json", "type": "ProjectedCRS", "name": "WGS 84 / UTM zone 51N", "base_crs": {"type": "GeographicCRS", "name": "WGS 84", "datum": {"type": "GeodeticReferenceFrame", "name": "World Geodetic System 1984", "ellipsoid": {"name": "WGS 84", "semi_major_axis": 6378137, "inverse_flattening": 298.257223563}}, "coordinate_system": {"subtype": "ellipsoidal", "axis": [{"name": "Geodetic latitude", "abbreviation": "Lat", "direction": "north", "unit": "degree"}, {"name": "Geodetic longitude", "abbreviation": "Lon", "direction": "east", "unit": "degree"}]}, "id": {"authority": "EPSG", "code": 4326}}, "conversion": {"name": "UTM zone 51N", "method": {"name": "Transverse Mercator", "id": {"authority": "EPSG", "code": 9807}}, "parameters": [{"name": "Latitude of natural origin", "value": 0, "unit": "degree", "id": {"authority": "EPSG", "code": 8801}}, {"name": "Longitude of natural origin", "value": 123, "unit": "degree", "id": {"authority": "EPSG", "code": 8802}}, {"name": "Scale factor at natural origin", "value": 0.9996, "unit": "unity", "id": {"authority": "EPSG", "code": 8805}}, {"name": "False easting", "value": 500000, "unit": "metre", "id": {"authority": "EPSG", "code": 8806}}, {"name": "False northing", "value": 0, "unit": "metre", "id": {"authority": "EPSG", "code": 8807}}]}, "coordinate_system": {"subtype": "Cartesian", "axis": [{"name": "Easting", "abbreviation": "E", "direction": "east", "unit": "metre"}, {"name": "Northing", "abbreviation": "N", "direction": "north", "unit": "metre"}]}, "scope": "Navigation and medium accuracy spatial referencing.", "area": "Between 120\u00b0E and 126\u00b0E, northern hemisphere between equator and 84\u00b0N, onshore and offshore. China. Indonesia. Japan. North Korea. Philippines. Russian Federation. South Korea. Taiwan.", "bbox": {"south_latitude": 0, "west_longitude": 120, "north_latitude": 84, "east_longitude": 126}, "id": {"authority": "EPSG", "code": 32651}}

In [22]:
import pandas as pd
df = pd.read_csv("data/sample_data.csv")
df

   latitude  longitude
0   13.4125   122.5623
1   10.7103   122.5621
2   16.4023   120.5960
3   15.4890   120.9739
4   14.5995   120.9842
5    8.0510   124.9200
6    6.9214   122.0790
7   11.0046   124.6093
8   13.4125   122.5644
9   17.6133   121.7269

In [23]:
from shapely.geometry import Point
import geopandas as gpd

# Convert DataFrame to GeoDataFrame
print("Converting DataFrame to GeoDataFrame...")
geometry = [Point(xy) for xy in zip(df['longitude'], df['latitude'])]
gdf_points = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:4326")
gdf_points = gdf_points.to_crs(epsg=32651)

# Check if points are inside protected areas
print("Checking if points are inside protected areas...")
gdf_points["in_protected_area"] = gdf_points.sjoin(gdf_protected, how="left", predicate="intersects")['index_right'].notnull()

# Get land cover type (assuming land cover GeoDataFrame has a 'land_type' column)
print("Getting land cover type...")
gdf_points = gdf_points.sjoin(gdf_landcover[['geometry', 'class_id']], how="left", predicate="intersects")

# Drop unnecessary index_right column from spatial join
gdf_points = gdf_points.drop(columns=['index_right'])

# Define all possible land cover classes
all_classes = [1, 2, 3, 4, 5]

# Ensure all classes appear in one-hot encoding
gdf_points['class_id'] = pd.Categorical(gdf_points['class_id'], categories=all_classes)
df_encoded = pd.get_dummies(gdf_points[['class_id']], columns=['class_id'], prefix='landcover_class').astype(int)


# Convert boolean 'in_predicted_area' to 1/0
df_encoded['in_preotected_area'] = gdf_points['in_protected_area'].astype(int)

df_encoded_array = df_encoded.to_numpy()

# Display results
df_encoded_array

Converting DataFrame to GeoDataFrame...
Checking if points are inside protected areas...
Getting land cover type...

array([[0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0]])

In [24]:
import json
import torch
import torch.nn as nn


with open("model_params/autoencoder_params.json", "r") as f:
    loaded_params = json.load(f)

num_features = loaded_params["num_features"]
threshold_autoencoder = loaded_params["threshold_autoencoder"]

class AutoEncoder(nn.Module):
    def __init__(self, input_dim):
        super(AutoEncoder, self).__init__()
        self.encoder = nn.Sequential(
            nn.Linear(input_dim, 64),
            nn.ReLU(),
            nn.Linear(64, 32),
            nn.ReLU(),
            nn.Linear(32, 16)
        )
        self.decoder = nn.Sequential(
            nn.Linear(16, 32),
            nn.ReLU(),
            nn.Linear(32, 64),
            nn.ReLU(),
            nn.Linear(64, input_dim),
            nn.Sigmoid()  # Use Sigmoid for reconstruction between [0, 1]
        )

    def forward(self, x):
        encoded = self.encoder(x)
        decoded = self.decoder(encoded)
        return decoded

# Instantiate the model again
loaded_model = AutoEncoder(input_dim=num_features)

# Load the trained weights
loaded_model.load_state_dict(torch.load("model_weights/autoencoder_weights.pth"))

# Set the model to evaluation mode
loaded_model.eval()

AutoEncoder(
  (encoder): Sequential(
    (0): Linear(in_features=6, out_features=64, bias=True)
    (1): ReLU()
    (2): Linear(in_features=64, out_features=32, bias=True)
    (3): ReLU()
    (4): Linear(in_features=32, out_features=16, bias=True)
  )
  (decoder): Sequential(
    (0): Linear(in_features=16, out_features=32, bias=True)
    (1): ReLU()
    (2): Linear(in_features=32, out_features=64, bias=True)
    (3): ReLU()
    (4): Linear(in_features=64, out_features=6, bias=True)
    (5): Sigmoid()
  )
)

In [25]:
import numpy as np

df_encoded_tensor = torch.tensor(df_encoded_array, dtype=torch.float32)

with torch.no_grad():
    test_reconstruction = loaded_model(df_encoded_tensor).numpy()
    test_reconstruction_error = np.mean(np.square(df_encoded_array - test_reconstruction), axis=1)
    test_anomalies_autoencoder = np.where(test_reconstruction_error > threshold_autoencoder, 1, 0)

In [26]:
# Mapping dictionary
land_cover_mapping = {
    1: "Terrestrial Forest",
    2: "Crop Areas",
    3: "Barren/Flatland",
    4: "Built-up",
    5: "Wetlands & Water Bodies"
}

# Map class_id to land cover names
df['land_cover'] = gdf_points['class_id'].map(land_cover_mapping)

# Convert 'in_predicted_area' to 1/0
df['in_preotected_area'] = gdf_points['in_protected_area']

df['suitability'] = np.where(test_anomalies_autoencoder == 1, "Likely Unsuitable", "Suitable")
df

   latitude  longitude       land_cover  in_preotected_area        suitability
0   13.4125   122.5623       Crop Areas               False           Suitable
1   10.7103   122.5621         Built-up               False  Likely Unsuitable
2   16.4023   120.5960         Built-up                True  Likely Unsuitable
3   15.4890   120.9739         Built-up               False  Likely Unsuitable
4   14.5995   120.9842         Built-up               False  Likely Unsuitable
5    8.0510   124.9200  Barren/Flatland               False  Likely Unsuitable
6    6.9214   122.0790         Built-up               False  Likely Unsuitable
7   11.0046   124.6093         Built-up               False  Likely Unsuitable
8   13.4125   122.5644       Crop Areas               False           Suitable
9   17.6133   121.7269         Built-up               False  Likely Unsuitable

In [3]:
import ee
# auth_code = input("Paste your authentication code here: ")
ee.Authenticate()

Successfully saved authorization token.

In [4]:
!streamlit run ../04_app/app_v2.py

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.


  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://202.92.159.241:8501
  External URL: http://202.92.159.241:8501

/raid/students/ryan/MicropowerSolarSuitability/04_app/app_v2.py:13: DeprecationWarning: Parsing dates involving a day of month without a year specified is ambiguious
and fails to parse leap day. The default behavior will change in Python 3.15
to either always raise an exception or to use a different default year (TBD).
To avoid trouble, add a specific year to the input & format.
See https://github.com/python/cpython/issues/70647.
  import geemap.foliumap as geemap
2025-04-21 11:42:46.068 Examining the path of torch.classes raised:
Traceback (most recent call last):
  File "/data/students/ryan/anaconda3/envs/streamlit-env/lib/python3.13/site-packages/streamlit/web/bootstrap.py", line 347, in run
    if asyncio.get_running_loop().is_running():
       ~~~~~~~~~~~~~~~~~~~~~~~~^^
RuntimeError: no running event loop

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/data/students/ryan/anaconda3/envs/streamlit-env/lib/python3.13/site-packages/streamlit/watcher/local_sources_watcher.py", line 217, in get_module_paths
    potential_paths = extract_paths(module)
  File "/data/students/ryan/anaconda3/envs/streamlit-env/lib/python3.13/site-packages/streamlit/watcher/local_sources_watcher.py", line 210, in <lambda>
    lambda m: list(m.__path__._path),
                   ^^^^^^^^^^^^^^^^
  File "/data/students/ryan/anaconda3/envs/streamlit-env/lib/python3.13/site-packages/torch/_classes.py", line 13, in __getattr__
    proxy = torch._C._get_custom_class_python_wrapper(self.name, attr)
RuntimeError: Tried to instantiate class '__path__._path', but it does not exist! Ensure that it is registered via torch::class_
Converting DataFrame to GeoDataFrame...
Checking if points are inside protected areas...
Getting land cover type...
Getting flood risk...
2025-04-21 11:46:54.337 Examining the path of torch.classes raised:
Traceback (most recent call last):
  File "/data/students/ryan/anaconda3/envs/streamlit-env/lib/python3.13/site-packages/streamlit/web/bootstrap.py", line 347, in run
    if asyncio.get_running_loop().is_running():
       ~~~~~~~~~~~~~~~~~~~~~~~~^^
RuntimeError: no running event loop

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/data/students/ryan/anaconda3/envs/streamlit-env/lib/python3.13/site-packages/streamlit/watcher/local_sources_watcher.py", line 217, in get_module_paths
    potential_paths = extract_paths(module)
  File "/data/students/ryan/anaconda3/envs/streamlit-env/lib/python3.13/site-packages/streamlit/watcher/local_sources_watcher.py", line 210, in <lambda>
    lambda m: list(m.__path__._path),
                   ^^^^^^^^^^^^^^^^
  File "/data/students/ryan/anaconda3/envs/streamlit-env/lib/python3.13/site-packages/torch/_classes.py", line 13, in __getattr__
    proxy = torch._C._get_custom_class_python_wrapper(self.name, attr)
RuntimeError: Tried to instantiate class '__path__._path', but it does not exist! Ensure that it is registered via torch::class_
  Stopping...
^C

## Test GEE Querying

In [10]:
import pandas as pd

coords = [
    (13.4125, 122.5623),
    (10.7103, 122.5621),
    (16.4023, 120.596),
    (15.489, 120.9739),
    (14.5995, 120.9842),
    (8.051, 124.92),
    (6.9214, 122.079),
    (11.0046, 124.6093),
    (13.54, 122.5623),
    (17.6133, 121.7269),
]

df = pd.DataFrame(coords, columns=["latitude", "longitude"])
df

   latitude  longitude
0   13.4125   122.5623
1   10.7103   122.5621
2   16.4023   120.5960
3   15.4890   120.9739
4   14.5995   120.9842
5    8.0510   124.9200
6    6.9214   122.0790
7   11.0046   124.6093
8   13.5400   122.5623
9   17.6133   121.7269

In [6]:
import ee
ee.Initialize()

# Land Cover (ESA WorldCover 2020)
land_cover = ee.ImageCollection("ESA/WorldCover/v200").first()

# Monthly means from ERA5-Land
solar = ee.ImageCollection("ECMWF/ERA5_LAND/MONTHLY_AGGR").select("surface_solar_radiation_downwards_sum").mean()
temp = ee.ImageCollection("ECMWF/ERA5_LAND/MONTHLY_AGGR").select("temperature_2m").mean()
precip = ee.ImageCollection("ECMWF/ERA5_LAND/MONTHLY_AGGR").select("total_precipitation_sum").mean()

In [12]:
def df_to_fc(df):
    features = [
        ee.Feature(ee.Geometry.Point(row['longitude'], row['latitude']), {'id': idx})
        for idx, row in df.iterrows()
    ]
    return ee.FeatureCollection(features)

fc_points = df_to_fc(df)
fc_points

In [16]:
sampled = land_cover \
    .addBands(solar.rename("solar")) \
    .addBands(temp.rename("temp")) \
    .addBands(precip.rename("precip")) \
    .sampleRegions(collection=fc_points, scale=10, geometries=True)

results = sampled.getInfo()

extracted = []
for f in results['features']:
    props = f['properties']
    extracted.append({
        'id': props['id'],
        'land_cover': props.get('Map'),  # land cover code
        'Monthly Surface Solar Radiation (J/m²)': props.get('solar'), # Monthly Surface Solar Radiation (J/m²)
        'Mean 2m Temperature (K)': props.get('temp'), # Mean 2m Temperature (K)
        'Mean Monthly Precipitation (m)': props.get('precip'), # Mean Monthly Precipitation (m)
    })

df['id'] = df.index
extracted = pd.DataFrame(extracted)

# Merge the extracted data with the original DataFrame
df_results = pd.merge(df, extracted, on='id', how='left')
# Drop the 'id' column
df_results = df_results.drop(columns=['id'])

# Decoding land cover codes
land_labels = {
    10: "Tree Cover", 20: "Shrubland", 30: "Grassland", 40: "Cropland",
    50: "Built-up", 60: "Bare/Sparse Veg", 70: "Snow/Ice", 80: "Water",
    90: "Wetlands", 95: "Mangroves", 100: "Moss & Lichen"
}

df_results['Land Cover'] = df_results['land_cover'].map(land_labels)
# drop land cover code
df_results = df_results.drop(columns=['land_cover'])
df_results

,latitude,longitude,Monthly Surface Solar Radiation (J/m²),Mean 2m Temperature (K),Mean Monthly Precipitation (m),Land Cover
0,13.4125,122.5623,5.689662e+08,299.349212,0.147155,Tree Cover
1,10.7103,122.5621,5.393687e+08,299.459357,0.135737,Built-up
2,16.4023,120.5960,5.578978e+08,293.572878,0.285670,Built-up
3,15.4890,120.9739,5.575767e+08,299.234480,0.172130,Built-up
4,14.5995,120.9842,5.413356e+08,299.702752,0.153153,Built-up
5,8.0510,124.9200,5.486239e+08,290.673119,0.232551,Cropland
6,6.9214,122.0790,6.116154e+08,299.643473,0.167344,Built-up
7,11.0046,124.6093,6.057100e+08,299.087453,0.186518,Built-up
8,13.5400,122.5623,5.577686e+08,299.467086,0.145310,Tree Cover
9,17.6133,121.7269,5.144336e+08,298.271383,0.187317,Built-up